<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KarnelTravelGuideWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/js/site.js"  rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" rel="stylesheet">
    @* <link rel="stylesheet" href="~/KarnelTravelGuideWeb.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header id="mainHeader">
        <div class="search-container" id="search-container">
            <div class="search-content">
                <div class="row">
                    <div class="col-lg-11">
                        <label for="">What are you looking for?</label>
                        <input type="text" placeholder="Please enter the location you want to go" >
                    </div>
                    <div class="btn-close-search col-lg-1" onclick="closeSearch()"><img src="~/Images/header/icons8-close-24.png" alt=""></div>
                </div>
            </div>
        </div>
        <div class="header-area">
            <div class="header-container">
                <div class="row" style="align-items: center; justify-content: center;height: 100%; ">
                    <div class="logo col-lg-3">
                        <a href=""><img src="~/Images/header/karnel-travel-high-resolution-logo-transparent (1).png" alt=""></a>
                    </div>
                    <div class="menu col-lg-7">
                        <nav>
                            <ul class="menu-list">
                                <li>
                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="About">About</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Search">Search</a>
                                </li>
                                <li class="menu-information">
                                    <a href="">Information <span></span></a>
                                    <ul class="information-list">
                                        <li><a asp-controller="Home" asp-action="Information">Tourist Spot</a></li>
                                        <li><a href="">Travel Information</a></li>
                                        <li><a href="">Hotel Information</a></li>
                                        <li><a href="">Restaurant Information.</a></li>
                                        <li><a href="">Resorts Information</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="search col-lg-2">
                        <button onclick="openSearch()">
                            <img src="~/Images/header/icons8-search-24 (1).png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer1 row">
                <div class="follow-container col-4">
                    <div class="footer-title">
                       Experience the wonders of our top destinations and immerse yourself in the local culture. From the bustling streets of vibrant cities to the tranquil beauty of nature, our travel services offer you the best of both worlds. Our expert guides are here to ensure your journey is memorable and enriching, providing insights and experiences that go beyond the ordinary. Discover hidden gems, savor delicious cuisine, and create unforgettable memories with us. Your adventure awaits!
                    </div>
                    <div class="follow-icon">
                        <h2>Follow Us On:</h2>
                        <ul class="follow-icon-list">
                            <li><a href=""><img src="~/Images/footer/icons8-instagram-48.png" alt=""></a></li>
                            <li><a href=""><img src="~/Images/footer/icons8-facebook-48.png" alt=""></a></li>
                            <li><a href=""><img src="~/Images/footer/icons8-twitterx-48.png" alt=""></a></li>
                            <li><a href=""><img src="~/Images/footer/icons8-pinterest-48.png" alt=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="quick-container col-2">
                    <h2>Quick Link</h2>
                    <ul class="quickLink-list">
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Tourist Spot Informations</a></li>
                        <li><a href="">Hotel Informations</a></li>
                        <li><a href="">Resort Informations</a></li>
                        <li><a href="">Restaurant Informations</a></li>
                        <li><a href="">Transportation Informations</a></li>
                    </ul>
                </div>
                <div class="famous-container col-1">
                    <h2>Famous</h2>
                    <ul class="tourist-list">
                        <li>Vietnam</li>
                        <li>Korea</li>
                        <li>France</li>
                        <li>Spain</li>
                        <li>Australia</li>
                        <li>Russia</li>
                    </ul>
                </div>
                <div class="gallery-container col-5">
                    <h2>Gallery</h2>
                    <div class="row">
                        <div class="gallery-img col-4">
                            <img src="~/Images/footer/footer1.jpg" alt="">
                        </div>
                        <div class="gallery-img col-4">
                            <img src="~/Images/footer/footer2.jpg" alt="">
                        </div>
                        <div class="gallery-img col-4">
                            <img src="~/Images/footer/footer3.jpg" alt="">
                        </div>
                        <div class="gallery-img col-4">
                            <img src="~/Images/footer/footer4.jpg" alt="">
                        </div>
                        <div class="gallery-img col-4">
                            <img src="~/Images/footer/footer5.jpg" alt="">
                        </div>
                        <div class="gallery-img col-4">
                            <img src="~/Images/footer/footer6.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer2">
                <h3>Contact Information</h3>
                <a href="">
                    <img src="~/Images/footer/icons8-phone-48.png" alt="">
                    123456789
                </a>
                <a href="">
                    <img src="~/Images/footer/icons8-email-48.png" alt="">
                    group2@aptech.vn
                </a>
                <a href="">
                    <img src="~/Images/footer/icons8-map-48.png" alt="">
                    C5 building, 175 Tay Son, Dong Da, Ha Noi
                </a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
