@{
    ViewData["Title"] = "About Us";
}
<link href="~/css/about.css" rel="stylesheet" />

<div class="banner-container">
    <h2>ABOUT US</h2>
    <ul>
        <li><a href="">Home</a></li>
        <li><span>>></span> About Us</li>
    </ul>

</div>

<div class="aboutus-container">
    <div class="container" style="width: 70%;">
        <div class="information-section">
            <div class="row">
                <div class="col-lg-6">
                    <div class="img-section-content">
                        <img id="img-1" src="~/Images/about/1.jpg" alt="">
                    </div>
                </div>
                <div class="title-about col-lg-6">
                    <h2 class="heading-about">About Our Company And What Were Are Offer.</h2>
                    <div class="tab-content-btn">
                        <div class="row" style="justify-content: space-between;">
                            <div id="experience" class="infor-item col-lg-4" onclick="showContent('experience',this)">
                                <h2>10</h2>
                                <p>Years Experience</p>
                            </div>
                            <div id="guides" class="infor-item col-lg-4" onclick="showContent('guides', this)">
                                <h2>100+</h2>
                                <p>Tour Guide</p>
                            </div>
                            <div id="connect" class="infor-item col-lg-4" onclick="showContent('connect', this)">
                                <h2>500+</h2>
                                <p>Travelar Connection</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content-section">
                        <p id="dynamic-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                            consequatur tempore explicabo saepe consectetur quo molestias ex aspernatur autem iste
                            delectus nostrum nam quos itaque. Excepturi natus voluptatum pariatur vel.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="aboutus-container">
    <div class="container" style="width: 70%;">
        <div class="information-section">
            <div class="row">
                <div class="title-about col-lg-6">
                    <h2 class="heading-about">About Our Company And What Were Are Offer.</h2>
                    <div class="tab-content-btn">
                        <div class="row" style="justify-content: space-between;">
                            <div class="infor-item col-lg-4">
                                <h2>10</h2>
                                <p>Years Experience</p>
                            </div>
                            <div class="infor-item col-lg-4">
                                <h2>100+</h2>
                                <p>Tour Guide</p>
                            </div>
                            <div class="infor-item col-lg-4">
                                <h2>500+</h2>
                                <p>Travelar Connection</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content-section">
                        <p id="content-1">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi,
                            consequatur tempore explicabo saepe consectetur quo molestias ex aspernatur autem iste
                            delectus nostrum nam quos itaque. Excepturi natus voluptatum pariatur vel.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="package-section row">
                        <div class="package-img col-lg-6">
                            <img src="~/Images/about/1.jpg" alt="">
                        </div>
                        <div class="package-img col-lg-6">
                            <img src="~/Images/about/1.jpg" alt="">
                        </div>
                        <div class="package-img col-lg-6">
                            <img src="~/Images/about/1.jpg" alt="">
                        </div>
                        <div class="package-img col-lg-6">
                            <img src="~/Images/about/1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="menu-item-container">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-section-1">
                <h2>Tourist Spots</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio ratione illum iusto quia quo quaerat corporis quasi quam a repellendus unde sunt itaque, ipsam cupiditate labore? Tempora ratione aliquam non!</p>
                <div class="tourist-btn text-lg-center">
                    <a href="">View All Tour</a>
                </div>
            </div>
            <div class="swiper-slide slide-section-2">
                <h2>Hotels</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio ratione illum iusto quia quo quaerat corporis quasi quam a repellendus unde sunt itaque, ipsam cupiditate labore? Tempora ratione aliquam non!</p>
                <div class="tourist-btn text-lg-center">
                    <a href="">View All Hotel</a>
                </div>
            </div>
            <div class="swiper-slide slide-section-3">
                <h2>Restaurants</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio ratione illum iusto quia quo quaerat corporis quasi quam a repellendus unde sunt itaque, ipsam cupiditate labore? Tempora ratione aliquam non!</p>
                <div class="tourist-btn text-lg-center">
                    <a href="">View All Restaurant</a>
                </div>
            </div>
            <div class="swiper-slide slide-section-4">
                <h2>Resorts</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio ratione illum iusto quia quo quaerat corporis quasi quam a repellendus unde sunt itaque, ipsam cupiditate labore? Tempora ratione aliquam non!</p>
                <div class="tourist-btn text-lg-center">
                    <a href="">View All Resort</a>
                </div>
            </div>
            <div class="swiper-slide slide-section-5">
                <h2>Transportations</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio ratione illum iusto quia quo quaerat corporis quasi quam a repellendus unde sunt itaque, ipsam cupiditate labore? Tempora ratione aliquam non!</p>
                <div class="tourist-btn text-lg-center">
                    <a href="">View All Transportation</a>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<script src="~/js/about.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>