@model IEnumerable<KarnelTravelGuideWeb.Models.City>
@{
    ViewData["Title"] = "Default";
}

<div class="selection-section col-lg-4">
    <div class="filer-heading">
        <h2>Filter Selection</h2>
        <button>Reset</button>
    </div>
    <div class="filer-option-section">
        <h5><i class="bi bi-compass-fill"></i>Location</h5>
        @foreach (var city in Model)
        {
            <select name="" id="">
                <option asp-controller="MainPage" asp-action="Search" asp-route-loai="@city.CityId" value="@city.CityId">@city.Name</option>
            </select>
        }
    </div>
    <div class="filer-option-section">
        <h5><i class="bi bi-cash"></i> Price</h5>
        <input type="range" min="100" max="1000" id="priceRange" value="100">
        <p id="priceValue">$100</p>
    </div>
    <div class="filer-option-section" style="display: block;">
        <h5>Quality</h5>
        <ul class="star-list">
            <li><input type="checkbox"><span>3</span><i class="bi bi-star-fill"></i></li>
            <li><input type="checkbox"><span>4</span><i class="bi bi-star-fill"></i></li>
            <li><input type="checkbox"><span>5</span><i class="bi bi-star-fill"></i></li>
        </ul>
    </div>
</div>