@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/index.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet" />
<div class="homepage-main-container">
    <!-- Slider main container -->
    <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="~/Images/index/1.jpg" alt="">
                <div class="slide-text">WELCOME TO VIETNAM</div>
            </div>
            <div class="swiper-slide">
                <img src="~/Images/index/2.jpg" alt="">
                <div class="slide-text">WELCOME TO VIETNAM</div>
            </div>
            <div class="swiper-slide">
                <img src="~/Images/index/3.jpg" alt="">
                <div class="slide-text">WELCOME TO VIETNAM</div>
            </div>
            <div class="swiper-slide">
                <img src="~/Images/index/4.jpg" alt="">
                <div class="slide-text">WELCOME TO VIETNAM</div>
            </div>
            <div class="swiper-slide">
                <img src="~/Images/index/5.jpg" alt="">
                <div class="slide-text">WELCOME TO VIETNAM</div>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
    </div>

    <div class="searchbar-section">
        <div class="container" style="width: 70%;">
            <div class="multi-search-container row">
                <div class="col-10">
                    <div class="input-container">
                        <div class="row">
                            <div class="col-1">
                                <img src="~/Images/index/icons8-place-50.png" alt="">
                            </div>
                            <div class="col-10">
                                <h4>Destination</h4>
                                <div class="combined-input">
                                    <input type="text" placeholder="What's your destination today?" onfocus="showDropdown()"
                                           onblur="hideDropdown()">
                                    <div class="select-list-destination">
                                        <a href="#">Hà Nội</a>
                                        <a href="#">HCM</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="search-btn-section col-2">
                    <a href="">
                        <button>Find Now</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="tourist-area">
        <div class="container" style="width: 70%;">
            <div class="row" style="margin: 10px;">
                <div class="col-lg-8 col-sm-10">
                    <div class="section-header-alpha">
                        <h2>Best Tourist Spot</h2>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam deleniti, mollitia fuga
                            maxime iusto laborum inventore nemo provident totam similique atque maiores voluptatibus
                            harum aliquid doloribus repudiandae quas, cumque laboriosam!
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-10">
                    <div class="tourist-btn text-lg-end">
                        <a href="">View All Destination</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="top-destination">
        <div class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-lg-8 col-sm-10">
                    <div class="section-header-alpha des-header mt-auto">
                        <h2>Top Contries</h2>
                        <p>
                            "Explore top global destinations where history, culture, and natural beauty converge.
                            From Paris and Rome's iconic landmarks to the serene beaches of the Maldives and
                            Marrakech's vibrant markets, each offers a unique travel experience for every
                            adventurer."
                        </p>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-10">
                    <div class="tourist-btn text-center">
                        <a href="">View All Contries</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tour-area">
        <div class="tour-area-title pt-110">
            <div class="container">
                <div class="row" style="margin: 10px; justify-content: start;">
                    <div class="col-lg-8" style="margin-top: 20vh;">
                        <div class="section-header-alpha" style="color: #f0f0f0;">
                            <h2>Explore Your Tour Now</h2>
                            <p>"Traveling enriches life by broadening perspectives, fostering cultural understanding, promoting personal growth through challenges, and providing rejuvenation from routine, all while creating lasting memories and strengthening social connections."</p>
                        </div>
                    </div>
                    <div class="col-lg-4" style="margin-top: 20vh;">
                        <div class="tourist-btn text-lg-end">
                            <a href="">View All Tour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="feed-container">
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="~/js/index.js"></script>